@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>Welcome to your new app.</p>

<SpoilerDialog Title="Hidden content">
    <p>This is the spoiler content shown in the dialog</p>
</SpoilerDialog>
<hr/>
<h2>Blog posts</h2>
<p><a href="/newpost">Creat new post</a></p>
<BlogPostList></BlogPostList>
<hr />
<SurveyPrompt Title="How is Blazor working for you?" />
