@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SpoilerDialog Title="Hidden content">
    <p>This is the spoiler content shown in the dialog</p>
</SpoilerDialog>

<SurveyPrompt Title="How is Blazor working for you?" />
