@using BuildingComponents.Data.Entities;

@if (Post != null)
{
    <a class="list-group-item list-group-item-action" @onclick="OnItemClick">
        <p class="fw-bold">@Post.Title</p>
        <p>@Post.Content</p>
        @if (Post.Categories?.Any() ?? false)
        {
            <p>Tags: @string.Join(",", Post.Categories.Select(x => x.CategoryName))</p>
        }
    </a>
}


@code {
    [Parameter]
    public Post? Post { get; set; }

    private void OnItemClick()
    {
        Console.WriteLine(Post.PostId + " Clicked");
    }
}
