@using BuildingComponents.Data.Entities;
<h3>BlogPostListItem</h3>

<li>
    @if (Post != null)
    {
        <p>@Post.Title</p>
        <p>@Post.Content</p>
        @if (Post.Categories?.Any() ?? false)
        {
            <p>Tags: @string.Join(",", Post.Categories.Select(x => x.CategoryName))</p>
        }
    }
</li>

@code {
    [Parameter]
    public Post? Post { get; set; }
}
