@using BuildingComponents.Data.Entities;
@using BuildingComponents.Services;
@inject BlogService blogService;

@if(Posts != null)
{
    <div class="list-group">
        @foreach (var post in Posts)
        {
            <BlogPostListItem Post="@post" OnPostDelete="@OnPostDelete"></BlogPostListItem>
        }
    </div>
}
else
{
    <p>Loading posts...</p>
}


@code {
    private IEnumerable<Post>? Posts { get; set; }

    protected override async Task OnInitializedAsync()
    {
        UpdatePosts();
    }

    protected void UpdatePosts()
    {
        Posts = blogService.GetBlogPosts();
    }

    protected async Task OnPostDelete(Post? postToDelete)
    {
        if (postToDelete != null)
        {
            await blogService.DeletePost(postToDelete.PostId);
        }
        
        UpdatePosts();
    }
}
