@using BuildingComponents.Data.Entities;

@if (Post != null)
{
    <a class="list-group-item list-group-item-action" @onclick="OnItemClick">
        <p class="fw-bold">@Post.Title</p>
        <p>@Post.Content</p>
        @if (Post.Categories?.Any() ?? false)
        {
            <p>Tags: @string.Join(",", Post.Categories.Select(x => x.CategoryName))</p>
        }
        <button class="btn btn-info" @onclick="OnEditClick">Edit</button>
        <button class="btn btn-danger" @onclick="OnDeleteClick">Delete</button>
    </a>
}


@code {
    [Parameter]
    public Post? Post { get; set; }

    [Parameter]
    public EventCallback<Post> OnPostEdit { get; set; }

    [Parameter]
    public EventCallback<Post> OnPostDelete { get; set; }

    private void OnItemClick()
    {
        Console.WriteLine(Post.PostId + " Clicked");
    }

    private async Task OnEditClick()
    {
        await OnPostEdit.InvokeAsync(Post);
    }

    private async Task OnDeleteClick()
    {
        await OnPostDelete.InvokeAsync(Post);
    }
}
