<div class="card" style="width:22rem">
    <div class="card-body">
        <h3 class="card-title">@Title</h3>
        <p class="card-text">
            @if (ShowContent)
            {
                @ChildContent
            }
        </p>
        @if (!ShowContent)
        {
            <button @onclick="OnYes">Show</button>
        }
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string? Title { get; set; }

    public bool ShowContent { get; set; } = false;

    private void OnYes()
    {
        if (!ShowContent)
            ShowContent = true;
    }
}
